{% load static %}
<HTML>

<HEAD>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'index.css' %}">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <TITLE>
        Shivam Mittal : Document Viewer
    </TITLE>
</HEAD>


<BODY>
    <div class="container">
        <div class="jumbotron">
            <h1>Document Viewer Add Group</h1>
        </div>
        <div class="row" id="bodycontent">
            <div class="col-lg-5 col-md-5 col-sm-5" id="uploader">
                <div id="upload" class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 linespc">



                        <h4>Add New Group</h4>

                        {% if error %}
                        <span style="color:tomato;">{{ error }}</span>
                        <br/>
                        <br/> {% endif %}

                        <form method="POST" action="{% url 'addgroup' %}" enctype="multipart/form-data">

                            {% csrf_token %}
                            <div class="col-lg-12 col-md-12 col-sm-12 linespc">
                                <div class="col-lg-4 col-md-4 col-sm-4">
                                    Group Title:
                                </div>
                                <div class="col-lg-8 col-md-8 col-sm-8">
                                    <input type="text" name="grouptitle" />
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12" style="text-align:center;">

                                <input type="submit" id='btn-submit' value="Create Product" />
                            </div>
                        </form>
                    </div>
                </div>



            </div>
            <div class="col-lg-7 col-md-7 col-sm-7" id="prevdocs">
                <h4>Existing Groups</h4>
                <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names.." title="Search for document">
                <ul id="myUL">
                    {% for group in group.all %}

                    <li class="searchlist"><a href="#">{{ group.grouptitle }} : (id = {{ group.id}})</a></li>

                    {% endfor %}
                </ul>
                <script>
                    function myFunction() {
                        var input, filter, ul, li, a, i, txtValue;
                        input = $("#myInput");
                        filter = input.val().toUpperCase();
                        ul = document.getElementById("myUL");
                        li = document.getElementsByClassName('searchlist');
                        for (i = 0; i < li.length; i++) {
                            a = li[i].getElementsByTagName("a")[0];
                            txtValue = a.textContent || a.innerText;
                            if (txtValue.toUpperCase().indexOf(filter) > -1) {
                                li[i].style.display = "";
                            } else {
                                li[i].style.display = "none";
                            }
                        }
                    }
                </script>
            </div>
        </div>
        <div id="copyright">&COPY;Shivam Mittal : 2020</div>
    </div>
</BODY>

</HTML>